* {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    background-color: #1F2937;
    height: 60vh;
    padding: 20px 70px 40px 70px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 85px;
}

ul {
    display: flex;
    color: #E5E7EB;
    list-style-type: none;
    justify-content: space-evenly;
    gap: 15px;
}

h3 {
    color: #F9FAF8;
    font-size: 24px;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 85px 35px 85px;
    margin: 50px auto 20px auto;
    gap: 50px;
}

.hero-txt {
    width: 50%;
}

h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
    margin: auto;
}

p {
    font-size: 16px;
}

.hero-txt p {
    color: #E5E7EB;
    width: 90%;
}

#hero-btn {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 28px;
    border-radius: 8px;
    border: none;
}

#placeholder {
    background-color: lightgray;
    height: 250px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#placeholder p {
    color: #E5E7EB;
}


h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight:800;
}

.infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    margin: -10px 0 10px 0;
    height: 55vh;
}
 
.info-col {
    display: flex;
    width: 60%;
    gap: 25px;
}

.info-col img {
    width: 130px;
    height: 130px;
    border: solid 3px #3882F6;
    border-radius: 8px;
}

.info-col p {
    font-size: 14px;
    text-align: center;
}

#info-1,
#info-2,
#info-3,
#info-4 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 85px;
    align-items: center;
}

.quote p {
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    color: #1F2937;
    width: 60%;
}

#source {
    font-size: 21px;
    font-weight: 700;
    font-style: normal;
    text-align: right;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
}

.cta-box {
    background-color: #3882F6;
    width: 60%;
    display: flex;
    justify-content: space-between;
    padding: 30px 75px;
}

.cta-text {
    color: #E5E7EB;
}

h4 {
    font-weight: 700;
    margin-bottom: 5px;
}

.cta-text p {
    font-weight: 200;
    margin-top: 5px;
}

#cta-btn {
    background-color: #3882F6;
    color: #E5E7EB;
    height: 40px;
    border: solid 2px #E5E7EB;
    border-radius: 5px;
    padding: 5px 20px;
    margin: auto 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 20px;
    height: 8vh;
}